
<div class="card-container" style="display: flex; align-items: center; justify-content: left; height: 100vh; padding: 0 10x; background-image: url(/src/assets/IMG-20241018-WA0051.jpg);">
 <!-- <div class="row">
  <h1 C>KALAMA ANTHONY</h1></div> -->
  <!-- Image on the left -->
  <div class="row"><mat-card class="example-card" appearance="outlined" style="flex: 1; box-shadow: none; border: none;">
    <img mat-card-image src="/assets/kalama.jpg" alt="Photo of Kalama" style="width: 70%; margin: 0 auto; display: block;">
  </mat-card>
  </div>

  <!-- Text on the right -->
  <mat-card class="example-card" appearance="outlined" style="flex: 500; background: none; box-shadow: none; border: none; padding-right: 50px;">
    <mat-card-content>
      <h2 style="font-family: 'Georgia',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif; font-size: 15px;  color: #333; text-align: justify;">
        A consummate, innovative, and detail-oriented Software Developer with a strong background in Economics,
        bringing an eccentric analytical perspective to software development. Skilled in a variety of programming
        languages and frameworks including Java with Spring Boot and Angular with TypeScript. A proven track record
        of developing efficient and scalable applications.
        My background in economics equips me with exceptional analytical skills and understanding of data analysis,
        which enhances my ability to create robust software solutions that meet business needs. Adept at collaborating
        in cross-functional teams and passionate about leveraging technology to drive innovation and efficiency for both
        business and economic prosperity.
      </h2>
    </mat-card-content>
  </mat-card>
</div>
<div>
  
</div>


