<!-- <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>

  <div class="container">
    <div class="text">
      <p>Grateful foundation was founded in the year 2022 with the aim of empowering the less privileged in the community, especially the youth. The foundation aims to create awareness on the various issues affecting the vulnerable in the community. Our foundation is dedicated to giving back to the community by empowering the next generation through mentorship, education, and awareness. We focus on guiding young people and school-going children toward academic excellence by providing mentorship and support. Our programs address critical challenges facing youth, such as teenage pregnancy and drug abuse, by creating awareness and promoting informed choices. We are also committed to youth empowerment through leadership development, equipping young individuals with the skills and confidence needed to become responsible leaders in their communities. Together, we aim to build a brighter, healthier future for all.</p>
    </div>

   
    <div class="slideshow-container">
      <img *ngIf="showFirstImage" mat-card-image [src]="image1" alt="Image 1" />
      <img *ngIf="!showFirstImage" mat-card-image [src]="image2" alt="Image 2" />
    </div>

    <div class="container">
      <div class="text">
        <p>Equity Leaders Program</p>
      </div>
    </div>
  </div>
</mat-card> -->

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!-- <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <div class="container">
      <div class="text">
        <p>Grateful foundation was founded in the year 2022 with the aim of empowering the less privileged in the community, especially the youth. The foundation aims to create awareness on the various issues affecting the vulnerable in the community.Our foundation is dedicated to giving back to the community by empowering the next generation through mentorship, education, and awareness. We focus on guiding young people and school-going children toward academic excellence by providing mentorship and support. Our programs address critical challenges facing youth, such as teenage pregnancy and drug abuse, by creating awareness and promoting informed choices. We are also committed to youth empowerment through leadership development, equipping young individuals with the skills and confidence needed to become responsible leaders in their communities. Together, we aim to build a brighter, healthier future for all</p>
      </div>
    
      <div class="cards">
        <div class="row">
          <mat-card class="example-card" appearance="outlined">
            <img *ngIf="showFirstImage" mat-card-image [src]="image1" alt="Image 1" />
            <img *ngIf="!showFirstImage" mat-card-image [src]="image2" alt="Image 2" />
          </mat-card>
        </div>
       </div>
    </div>
    
    <div class="container">
      <div class="text">
        <p>Equity Leaders Program. <br>
          The Equity Leaders Program (ELP) is a leadership development platform for Africa's most promising young talent. Through our signature coaching and mentorship program, ELP develops leadership skills and nurtures global mindsets of post-secondary school scholars by providing them with meaningful professional opportunities and networks. This networking Facebook group is open to all scholars who are alumni or current interns in Equity Group as well as Wings to Fly & Elimu alumni scholars. If you fall into any of these categories, feel free to request to join the group!</p>
      </div>
    
      <div class="cards">
        <div class="row">
          <mat-card class="example-card" appearance="outlined">
            <img *ngIf="showFirstImage" mat-card-image [src]="image3" alt="Image 3" />
            <img *ngIf="!showFirstImage" mat-card-image [src]="image4" alt="Image 4" />
          </mat-card>
        </div>       
      </div>
    </div>
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>

